/* INICIO RESET */
:root {
    --negro: #393939;
    --blanco: #fff;
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}
  

@media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
      --blanco: #393939;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
  
p a {
    display: inline;
}
  
li {
    list-style-type: none;
}
  
html {
    scroll-behavior: smooth;
}
  
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
  
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}
  
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
  
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    max-width: 1100px;
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    background: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    padding: 30px;
    margin: 0px auto;
}
/* FIN RESET */

.box {
    display: none;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    padding: 0px 30px 50px 30px;
    margin: 180px 0px;    
    box-shadow: 0px 15px 85px -5px hsl(237, 12%, 33%);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image {
    width: 90%;
    display: inherit;
    flex-flow: column nowrap;
    align-items: center;
}

.image picture {
    position: relative;
}

.bg-pattern-mobile {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.woman-mobile {
    width: 442px;
    position: absolute;
    left: -50px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: -350px;
}

.info {
    width: 80%;
}

.question-card {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 15px 0px
}

.heading {
    font-weight: 700;
    font-size: 2em;
    color: hsl(238, 29%, 16%);
    text-align: center;
    margin: 30px 0px;
}

.question-card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-card .title .question:hover {
    color: hsl(14, 88%, 65%);
    font-weight: 700;
    cursor: pointer;
}

.question-card .title h2 {
    font-size: .75em;
    font-weight: 400;
    color:hsl(237, 12%, 33%);
}

.question-card p {
    color: hsl(240, 6%, 50%);
    font-size: .6em;
    margin-top: 10px;
    width: 95%;
}

.question-card .arrow {
    max-width: 10px;
    max-height: 8px;
}

@media (max-width: 570px) {
    .woman-mobile {
        top: -260px;
        left: -30px;
    }

    .bg-pattern-mobile {
        max-width: 290px;
    }
}

@media (min-width: 1100px) {
    .box {
        max-width: 150px;
        display: block;
        position: absolute;
        z-index: 5;
        top: 415px;
        left: 0px;
        right: 740px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .container {
        max-height: 500px;
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        padding: 0px;
        margin: 180px 150px;
        gap: 50px;
    }

    .image {
        max-width: 50%;
    }

    .image picture {
        position: relative;
    }
    
    .woman-mobile {
        width: 380px;
        min-width: 380px;
        max-width: 700px;
        position: relative;
        top: 0px;
        left: -65px;
        z-index: 1;
    }

    .bg-pattern-mobile {
        z-index: 0;
        position: absolute;
        width: 945px;
        max-width: 1000px;
        top: -390px;
        left: -630px;
    }

    .info {
        margin: 40px 30px 80px;
        max-width: 50%;
        align-self: center;
    }

    .heading {
        text-align: left;
    }
}